.parent{
    background-color:lightpink;
    width:250px;
    height: 180px;
    text-align: center;
}

.button {
            color: white;
            padding: 12px 25px;
            margin: 10px;
            border: none;
            font-size: 16px;
        }

        
.login {
            background-color: blue;
        }

.register {
            background-color: green;
        }

.contact {
            background-color: orange;
        }

        
.login:hover {
            background-color: white;
            color: blue;
            border: 2px solid blue;
        }

.register:hover {
            background-color: white;
            color: green;
            border: 2px solid green;
        }

.contact:hover {
            background-color: white;
            color: orange;
            border: 2px solid orange;
        }