.title {
    color:purple;
    background-color: lightpink;
}

.section {
    color: purple;
    background-color: lightpink;
}

.section-title {
    color: purple;
    background-color: lightpink;
}

.student {
    color:purple;
    background-color:lightpink;
}

.topic {
    color: purple;
    background-color: lightpink;
}

.status {
    color: purple;
    background-color:lightpink;
}

.teacher {
    color:purple;
    background-color: lightpink;
}